<p id="notice"><%= notice %></p>

<h1>Jamal Task Manager</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @task_keepers.each do |task_keeper| %>
      <tr>
        <td><%= task_keeper.title %></td>
        <td><%= task_keeper.description %></td>
        <td><%= link_to 'Show', task_keeper %></td>
        <td><%= link_to 'Edit', edit_task_keeper_path(task_keeper) %></td>
        <td><%= link_to 'Destroy', task_keeper, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

